<center>
<h1>Sign up</h1>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label "Fan" %><%= f.radio_button :role_id, 1 , :checked => true%> <%= f.label "Artist" %><%= f.radio_button :role_id, 2 %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name%></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>
<%= render "devise/shared/links" %>
</center>

