<div id="sidebar" >
  <center>
   <% if !user_signed_in? %>
      <li>
         <%= link_to "Home",    root_path %>
      </li>
   <% else %>
      <li>
         <%= link_to "My profile",   profile_path(current_user) %>
      </li>
   	  <li>
         <%= link_to "Home",    home_path %>
      </li>
      <% if current_page?(home_path) %>
       <ul id="search">
          <li><a href="#">Search</a></li>
            <ul>
             <li><%= link_to 'Most Popular', '/artist/popular', remote: true %></li>
              <li><a id="genre" href="#" >Genre</a></li>
              <li><%= link_to 'By Country', '/artist/country', remote: true %></li>
            </ul>
          </li>
      </ul>
      <% end %>
   <% end %>
  </center>
</div>
